{# templates/admin/reunion_participation/show_reunion.html.twig #}
{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if value %}
        <div class="well well-sm">
            <h4 style="margin-top: 0;">
                <i class="fa fa-calendar"></i> {{ value.objet }}
            </h4>
            <dl class="dl-horizontal" style="margin-bottom: 0;">
                <dt>Date & Time:</dt>
                <dd>
                    <i class="fa fa-clock-o"></i> 
                    {{ value.dateDebut|date('d/m/Y H:i') }}
                    {% if value.dateFin %}
                        - {{ value.dateFin|date('H:i') }}
                    {% endif %}
                </dd>
                
                {% if value.meetingType %}
                    <dt>Type:</dt>
                    <dd>
                        <span class="label label-default">{{ value.meetingType.label }}</span>
                    </dd>
                {% endif %}

                {% if value.salle %}
                    <dt>Venue:</dt>
                    <dd>
                        <i class="fa fa-building-o text-info"></i> {{ value.salle }}
                    </dd>
                {% endif %}

                {% if value.lieu %}
                    <dt>Venue:</dt>
                    <dd>
                        <i class="fa fa-map-marker text-danger"></i> {{ value.lieu }}
                    </dd>
                {% endif %}
                
            </dl>
        </div>
    {% else %}
        <span class="text-muted">N/A</span>
    {% endif %}
{% endblock %}