{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block title %}
    Send Notification to External Participants
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-bell"></i>
                Send Notification to {{ participantList|length }} External Participant(s)
            </h3>
        </div>
        <form method="POST" action="{{ admin.generateUrl('batch', {'filter': admin.datagrid.values}) }}">
            <input type="hidden" name="action" value="send_notification">
            <input type="hidden" name="notification_confirmed" value="1">
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token('sonata.batch') }}">
            {% for id in selectedIds %}
                <input type="hidden" name="idx[]" value="{{ id }}">
            {% endfor %}
            
            <div class="box-body">
                <div class="alert alert-info">
                    <h4><i class="fa fa-users"></i> Selected Participants</h4>
                    <ul>
                        {% for participant in participantList %}
                            <li>
                                <strong>{{ participant.nom }}</strong>
                                {% if participant.organisation %}
                                    <span class="label label-default">{{ participant.organisation }}</span>
                                {% endif %}
                                {% if participant.email %}
                                    <span class="label label-success">
                                        <i class="fa fa-envelope"></i> {{ participant.email }}
                                    </span>
                                {% endif %}
                                {% if participant.telephone %}
                                    <span class="label label-info">
                                        <i class="fa fa-phone"></i> {{ participant.telephone }}
                                    </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="form-group">
                    <label>Notification Type *</label>
                    <select name="notification_type" class="form-control" required>
                        <option value="email">Email</option>
                        <option value="sms">SMS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Subject *</label>
                    <input type="text" name="notification_subject" class="form-control" 
                        placeholder="Enter notification subject" required>
                </div>

                <div class="form-group">
                    <label>Message *</label>
                    <textarea name="notification_message" class="form-control" rows="6" 
                        placeholder="Enter your message here..." required></textarea>
                </div>
            </div>
            
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-send"></i> Send Notification
                </button>
                <a href="{{ admin.generateUrl('list') }}" class="btn btn-default">
                    <i class="fa fa-times"></i> Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock %}
